* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: inline-block;
    background-color: rgba(65, 60, 60);
    color: whitesmoke;
    padding-bottom: 70px;
    border: whitesmoke;
    
}

header nav {
    margin: 25px;
}

header nav ul li {
    display: inline;
    margin: 35px;
}

header nav ul li a {
    color: whitesmoke;
}

.about-me {
    display: block;
    text-align: center;
}

.about-me h2 {
    margin: 15px;
}

.about-me p {
    flex-wrap: wrap;
}

.name {
    display: flex;
    justify-content: space-evenly;
}

.name h1 {
    display: inline-flex;
    align-items: center;
    font-size: 60px;
}

.name img {
    width: 15%;
    padding-top: 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background-image: url(./images/portfolio-background.png);
    background-size: cover;
}

.projects div img{
    width: 100%;
}

.project {
    margin: 20px;
    width: 300px;
    box-shadow:8px 8px 8px 0 rgba(255, 255, 255, .4);
    text-align: center;
    background-color: rgb(65, 60, 60);
    color: whitesmoke;
}

.project p, .project h2 {
    color: whitesmoke;
}

.project a:link {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project a:visited {
    text-decoration: none;
}

.project a :active {
    text-decoration: underline;
}

.project:hover {
    opacity: .5;
}

.flex-row {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: whitesmoke;
    border: solid;
    border-color: gray;
    background-color: rgba(65, 60, 60);
    padding: 15px;
    background-image: url(./images/portfolio-background.png);
}

.contact-me {
    background-color: rgb(65, 60, 60);
    color: whitesmoke;
    text-align: center;
    padding: 60px 0;

}


.contact-me h2 {
    display: inline-block;
    margin: 30px;
    font-size: 32px;
    padding-top: 0px;
    margin-bottom: 50px;
    border-bottom: solid;
   
    
}

.contact-me p {
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
}


.contact-info {
    display: flex;
    justify-content: center;
    margin:30px;
    background-color:rgb(65, 60, 60);
}

.contact-info ul li {
    display: flex;
}


.contact-info ul li a {
    color: whitesmoke;
}