* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: inline-block;
    background-color: rgba(65, 60, 60);
    color: whitesmoke;
}

.name {
    display: flex;
    justify-content: space-evenly;
}

.name h1 {
    display: inline-flex;
    align-items: center;
    font-size: 60px;
}

.name img {
    width: 15%;
    padding-top: 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background-image: url(./images/portfolio-background.png);
    background-size: cover;
}

.projects div img{
    width: 100%;
}

.project {
    margin: 20px;
    width: 300px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, .4);
    text-align: center;
    background-color: rgb(65, 60, 60);
    color: whitesmoke;
}

.project:hover {
    opacity: .5;
}